.Order_Details_Container {
    display: block;
    overflow: auto;
}

.Order_Rows {
    color: grey;
}

.Inavlid-request {
    color: red;
    margin: 50px 0px;
    font-size: 20px;
    text-align: center;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    overflow-x: auto;
}

.table-cell {
    padding: 10px;
    white-space: nowrap;
}