.Notification-container {
    display: block;
    overflow: auto;
}

.Notification-Table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    overflow-x: auto;
}

.Notification-Rows {
    color: grey;
}

.Notification-cell {
    padding: 10px;
    white-space: nowrap;
}